body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgb(44, 44, 44);
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 1px;
    margin: 1px;
}
.item{
    padding-right: 200px;
}
nav h1{
    color: plum;
    font-size: 80px;
}
.header{
    display: flex;
}
.header h1{
    color: lightblue;
    flex: 1;
    font-size: 30px;
    margin-right: 50px;
}

.header h2{
    color: gold;
    font-size: 30px;
    margin-left: 50px;
}
.selectors a{
    text-decoration: none;
    color: rgb(79, 79, 79);
}
.center-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.container{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    height: 400px;
    background-color: rgb(44, 44, 44);
    color: white;
}

.container p{
    font-size: 40px;
}

.container input{
    background-color: rgb(68, 68, 68);
    color: yellow;
    height: 40px;
    border: none;
    font-size: 30px;
}

.container button{
    margin: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border: none;
    height: 30px;
    background-color: rgb(44, 44, 44);
    color: white;
    font-size: 20px;
    cursor: pointer;
}